.card-search {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.043);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(151, 147, 147, 0.383);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 220px;
  padding: 15px;
  transition: box-shadow 0.3s;
  width: 200px;
}

.card-search:hover {
  box-shadow: 0 0 5px var(--highColor);
}

.collection-name {
  height: 25px;
  overflow: hidden;
  text-align: center;
  width: 95%;
}

.link {
  text-decoration: none;
}
