.form {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.381);
  border-radius: 10px;
  box-shadow: 0 0 3px rgb(134, 133, 133);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 320px;
  margin: auto;
  padding: 30px 30px 55px;
  width: 350px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: auto;
  margin-top: 10%;
}

.login {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.title-login {
  color: var(--textWhite);
  font-size: 7rem;
  margin-bottom: 50px;
}

.login span {
  align-items: center;
  display: flex;
}

.login img {
  border-radius: 50%;
  width: 6rem;
}
