.section-main-search {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.page-search {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.div-form-results {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
  height: 100%;
  padding-top: 120px;
  width: 100vw;
}

.form-search {
  display: flex;
  justify-content: center;
  width: 50%;
}

.form-search input {
  background-color: rgb(1, 4, 9);
  border: 1px solid rgba(245, 245, 245, 0.217);
  border-radius: 20px 0 0 20px;
  caret-color: white;
  color: white;
  height: 40px;
  padding: 20px;
  width: 60%;
}

.form-search input:focus {
  border: 1px solid rgb(52, 113, 223);
  box-shadow: 0 0 0 0;
  outline: 0;
}

.form-search button {
  background-color: rgba(245, 245, 245, 0.217);
  border: 1px solid rgba(245, 245, 245, 0.217);
  border-radius: 0 20px 20px 0;
  height: 42px;
  width: 60px;
}

.form-search button:hover {
  cursor: pointer;
}

.form-search button:active {
  box-shadow: 1px 2px 10px rgba(24, 23, 23, 0.873) inset;
}

.search-music {
  width: 25px;
}
